

.container{
    border: 2px solid red;
    width: 20rem;
    height: 20rem;
    margin: 50px auto;
    padding: 10px;
    text-align: justify;
    color: aqua;
    text-shadow: 3px 1px 5px antiquewhite;
    overflow: scroll;


    background-image: url(./tlotr2.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}