
#par1{
    border: 2px solid red;
    text-align: center;
}

#par2{
border-width: 5px;
border-style: dotted;
border-color: blue;
}

#par3{
border: 2px double magenta;
}

#par4{
border: 10px dashed orange;
}

#par5{
border: 5px outset oldlace;
width: 350px;
text-align: center;
margin: auto;
}

#span1{
    border: 10px double red;
    display: block;
    width: 150px;
    margin: auto;
    text-align: center;

}

.span-container{
    border: 5px solid blue;
}