.box {
    border: 5px solid olive;
    margin-bottom: 4rem;
    width: 20rem;
    height: 4rem;
    background-color: beige;
}

.box1 {
    overflow: visible;
}

.box2 {
    overflow: hidden;
}

.box3 {
    overflow: scroll;
}

.box4 {
    height: 8rem;
    overflow: auto;
}

.box5 {
    overflow-y: hidden;
    overflow-x: auto;
}

.par1 {
    background-color: fuchsia;
    width: 70vw;
}

.box::-webkit-scrollbar {
    width: 0;
    visibility: hidden;
    display: none;
}